!!! 5
html
  head
    title Asynchronous Chat / Login
  body
    #login
      form(method="POST")
        | Username: 
        input(type="text", name="username")
        input(type="submit", value="Login")